body{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-family: 'Space Mono', monospace;
	background-image: url("http://cdn.allwallpaper.in/wallpapers/1328x856/16182/spaceships-millennium-falcon-x-wing-science-fiction-artwork-1328x856-wallpaper.jpg")
}

.players{
	color: #611515;
}

h1{
	margin-top: -10px;
	text-align: center;
	color: white;
	font-size: 85px;
}

.text-center{
	text-align: center;
}

h2{
	
	font-size: 30px;

}

h3{
	font-size: 30px;

}

h4{
	font-size: 30px;

}
